.button {
  cursor: pointer;
  background-color: #fff;
  padding: 0;

  //border
  &_border {
    &1 {
      border: 1px solid var(--color1);
    }
  }

  //width
  &_width {
    &1 {
      width: 10rem;
    }
  }
}