.button {
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &_border {
    &1, &1:focus {
      border: 1px solid var(--color1);
    }
  }

  &_size {
    &1 {
      width: 12rem;
      height: 10rem;
    }
    &2 {
      width: 12rem;
      height: 8rem;
    }
  }
}