.title {
  font-size: 4.68rem;
  &_font {
    &-size {
      &1 {
        font-size: 5rem;
      }
    }

    &_DINPro-500 {
      font-family: DINPro;
      font-weight: 500;
    }
  }

  &_margin {
    &1 {
      margin: 3rem 0 0;
    }
  }

  &_padding {
    &1 {
      padding: 7.5rem 0 3rem;
    }
  }

  &_color {
    &1 {
      color: #fff;
    }
    &2 {
      color: #000;
    }
    &3 {
      color: var(--color8);
    }
  }

  &_height {
    &1 {
      overflow-y: hidden;
      max-height: 23.5rem;
    }
  }
}
