.title {
  &_font {
    &-size {
      &1 {
        font-size: 2.5rem;
      }
      &2 {
        font-size: 1.25rem;
      }
      &3 {
        font-size: 1.8rem;
      }
    }
  }

  &_margin {
    &1 {
      margin: 1.2rem 0 0;
    }
    &2 {
      margin: 0.72rem 0 0;
    }
    &3 {
      margin: 0.3rem 0 0;
    }
  }

  &_color {
    &1 {
      color: #fff;
    }
    &2 {
      color: #000;
    }
  }

  &_height {
    &1 {
      max-height: 4.4rem;
      overflow-y: hidden;
    }
    &2 {
      max-height: 9rem;
      overflow-y: hidden;
    }
    &3 {
      max-height: 6rem;
      overflow-y: hidden;
    }
  }
}
