.img {
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
  position: relative;


  &_size {
    &1 {
      width: 32.65rem;
      height: 24.21rem;
    }
    &2 {
      width: 5rem;
      height: 5rem;
    }
    &3 {
      width: auto;
      height: 5.5rem;
    }
  }

  &_width {
    &1 {
      width: 29rem;
    }
    &2 {
      width: 6rem;
    }
    &3 {
      width: 9.37rem;
    }
    &4 {
      width: 3.6rem;
    }
  }

  &_height {
    &1 {
      height: 4.68rem;
      width: auto;
    }
    &2 {
      height: 6rem;
      width: auto;
    }
    &3 {
      height: 8.8rem;
      width: auto;
    }
    &4 {
      height: 7rem;
      width: auto;
    }
    &5 {
      height: 8rem;
      width: auto;
    }
    &6 {
      height: 15rem;
    }
    &7 {
      height: 54.84rem;
    }
    &8 {
      height: 41.66rem;
    }
    &9 {
      height: 39rem;
    }
    &10 {
      height: 70rem;
    }
    &11 {
      height: 14rem;
    }
    &12 {
      height: 52.69rem;
    }
    &13 {
      height: 69.65rem;
    }
    &14 {
      height: 74.4rem;
    }
  }

  &_margin {
    &1 {
      margin: 0 0 0 auto;
    }
    &2 {
      margin: 0 0 0 4.7rem;
    }
    &3 {
      margin: 4rem 0 0;
    }
    &4 {
      margin: 0 0 0 2rem;
    }
    &5 {
      margin: 6rem 0 0;
    }
    &6 {
      margin: -2.7rem 0 2.7rem;
    }
    &7 {
      margin: 0 0 4.84rem;
    }
    &8 {
      margin: 0 0 4rem;
    }
    &9 {
      margin: 4rem 5rem 3.4rem auto;
    }
  }

  &_position {
    &1 {
      position: absolute;
      top: 13rem;
      left: 86rem;
      z-index: 100;
    }
    &2 {
      position: absolute;
      top: 3rem;
      left: 86rem;
      z-index: 100;
    }
  }
}
