.mnemonic {
  font-family: Cambria;

  //стрелка вправо
  &1::before {
    content: "\2192";
  }

  //вертикальная линия с пробелами
  &2::before {
    content: "\00A0\00A0\2758\00A0\00A0";
  }

  //доллар
  &3::before {
    content: "\0024";
  }

  //евро
  &4::before {
    content: "\20AC";
  }

  //стрелка вправо с пробелом
  &5::before {
    content: "\00A0\2192";
  }

  //стрелка влево
  &6::before {
    content: "\2190";
  }

  //стрелка вниз
  &7::before {
    content: "\2193";
  }

  &_color {
    &1 {
      color: var(--color1);
    }
    &2 {
      color: #fff;
    }
  }

  &_font {
    &-weight {
      &-700 {
        font-weight: 700;
      }
    }
    &-size {
      &1 {
        font-size: 6rem;
      }
      &2 {
        font-size: 4rem;
      }
    }
  }

  &_margin {
    &1 {
      margin: 1rem 0 0;
    }
  }
}
