.link {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 3.75rem;

  &_flex {
    &1 {
      flex-direction: row;
      align-items: center;
    }
    &2 {
      flex-direction: row;
      align-items: flex-start;
    }
    &3 {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &4 {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &-grow {
      &1 {
        flex-grow: 1;
      }
    }
  }

  &_column-gap {
    &1 {
      column-gap: 4.53rem;
    }
  }

  &_font {
    &_DINPro-500 {
      font-family: DINPro;
      font-weight: 500;
    }

    &_DINPro-400 {
      font-family: DINPro;
      font-weight: 400;
    }

    &_Cambria-700 {
      font-family: Cambria;
      font-weight: 700;
    }

    &-size {
      &1 {
        font-size: 4.68rem;
      }
      &2 {
        font-size: 4.37rem;
      }
    }
  }

  &_letter-spacing {
    &1 {
      letter-spacing: 0.04em;
    }
    &2 {
      letter-spacing: 0.05em;
    }
  }

  &_color {
    &1 {
      color: var(--color8);
    }
    &2 {
      color: var(--color4);
    }
    &3 {
      color: var(--color1);
    }
  }

  &_height {
    &1 {
      height: 100%;
    }
  }

  &_background {
    &-color {
      &1 {
        background-color: var(--color1);
      }
    }
  }

  &_margin {
    &1 {
      margin: 5.5rem 0 0;
    }
    &2 {
      margin: 7.5rem 0 0;
    }
    &3 {
      margin: 0 3.12rem 0 0;
    }
    &4 {
      margin: 3.59rem 0 0;
    }
    &5 {
      margin: 0 0 0 1.5rem;
    }
  }

  &_padding {
    &1 {
      padding: 3.35rem 5rem 4.2rem;
    }
    &2 {
      padding: 3.3rem 0 4.1rem;
    }
    &3 {
      padding: 1.9rem 5rem;
    }
    &4 {
      padding: 1.5rem 4.5rem 2.2rem;
    }
    &5 {
      padding: 4.84rem 0;
    }
    &6 {
      padding: 4.4rem 0 5.4rem;
    }
    &7 {
      padding: 4.68rem 5rem 4.5rem;
    }
  }

  &_border {
    &1 {
      border-bottom: 1px solid var(--color9);
    }
    &2 {
      border: 1px solid var(--color1);
    }
    &3 {
      border-top: 1px solid var(--color9);
    }
    &4 {
      border: 1px solid var(--color9);
    }
  }

  &_text-transform {
    &-uppercase {
      text-transform: uppercase;
    }
  }

  &_position {
  }
}
