.text {
  font-size: 4.68rem;

  &_font {
    &-size {
      &1 {
        font-size: 3.75rem;
      }
      &2 {
        font-size: 4.37rem;
      }
      &3 {
        font-size: 3.12rem;
      }
      &4 {
        font-size: 2.5rem;
      }
    }

    &-family {
      &_DINPro-400 {
        font-family: DINPro;
      }
      &_DINPro-500 {
        font-family: DINPro;
        font-weight: 500;
      }
      &_Cambria-700 {
        font-family: Cambria;
        font-weight: 700;
      }
    }
  }

  &_color {
    &1 {
      color: #fff;
    }
    &2 {
      color: #000;
    }
    &3 {
      color: var(--color1);
    }
    &4 {
      color: var(--color4);
    }
  }

  &_line-height {
    &1 {
      line-height: 1.5;
    }
    &2 {
      line-height: 1.9;
    }
  }

  &_margin {
    &1 {
      margin: -3.3rem 0 2.7rem;
    }
    &2 {
      margin: 0 0 0 5.2rem;
    }
    &3 {
      margin: -1rem 0 0;
    }
    &4 {
      margin: 3.5rem 0 0;
    }
    &5 {
      margin: 3.1rem 0 0;
    }
    &6 {
      margin: 3rem 0 0;
    }
    &7 {
      margin: 4rem 0 0;
    }
    &8 {
      margin: 0.2rem 0 0;
    }
    &9 {
      margin: 0.3rem 0 0;
    }
  }

  &_padding {
  }

  &_border {
  }

  &_width {
    &1 {
      width: 28.9rem;
    }
  }

  &_height {
    &1 {
      overflow-y: hidden;
      max-height: 16rem;
    }
    &2 {
      overflow-y: hidden;
      max-height: 21rem;
    }
  }

  &_background {
    &-color {
      &1 {
        background-color: var(--color3);
      }
    }
  }

  &_text-transform {
    &_uppercase {
      text-transform: uppercase;
    }
  }

  &_text-align {
    &_center {
      text-align: center;
    }
  }

  &_position {
  }
}
